/* html {
  scroll-behavior: smooth;
} */

body {
    min-height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    background-color: #3a3838;
    font: 16px/1.5 'Inter', sans-serif;
    color: aliceblue
}

/* body>* {
    width: 100%;
} */

/* .inner {
    max-width: 1860px;
} */

.pulse {
    display: inline-block;
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        text-shadow: 0 0 0 rgba(153, 191, 56, 0);
    }

    50% {
        transform: scale(1.05);
        text-shadow: 0 0 8px rgba(153, 191, 56, 0.6);
    }

    100% {
        transform: scale(1);
        text-shadow: 0 0 0 rgba(153, 191, 56, 0);
    }
}

@keyframes fadePulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

.fade-pulse {
    animation: fadePulse 2s ease-in-out infinite;
}

.animated-section {
    opacity: 0;
    transform: translateY(-2rem);
    transition:
        opacity 0.8s ease,
        transform 0.8s ease;
}

.animated-section.revealed {
    opacity: 1;
    transform: translateY(0);
}

.page {
    display: grid;
    grid-template-columns: 340px minmax(600px, 1fr);
    max-width: 1200px;
    width: 100%;
    align-items: flex-start;
}

.center {
    display: flex;
    justify-content: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}