---
import './MySkills.css';
---

<section class="skills">
    <h2>Skills</h2>
    <div class="skills-images">
        <div class="skill-card">
            <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
                alt="React"
            />
        </div>
        <div class="skill-card">
            <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
                alt="Git"
            />
        </div>
        <div class="skill-card">
            <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg"
                alt="Next.js"
            />
        </div>
        <div class="skill-card">
            <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
                alt="TypeScript"
            />
        </div>
        <div class="skill-card">
            <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg"
                alt="Docker"
            />
        </div>
        <div class="skill-card">
            <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original-wordmark.svg"
                alt="Astro"
            />
        </div>
        <div class="skill-card">
            <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
                alt="CSS3"
            />
        </div>
        <div class="skill-card">
            <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jenkins/jenkins-original.svg"
                alt="Jenkins"
            />
        </div>
        <div class="skill-card">
            <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original.svg"
                alt="Azure"
            />
        </div>
    </div>
    <div class="skills-bar" aria-hidden="true">
        <span class="skills-thumb"></span>
    </div>
</section>
