.divider {
    position: relative;
    padding: 2em;
}

.divider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
    height: 1px;
    background: rgb(143, 142, 140);
}

.contact-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2em;

    p {
        text-decoration: none;
        color: #928f8f;
        font-size: 0.8em;
    }

    a {
        text-decoration: none;
        color: aliceblue;
        font-size: 0.8em;
    }

    .icon-box-info {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 46px;
        width: 46px;
        background-color: rgb(75, 81, 82);
        color: cadetblue;
        border-radius: 0.8em;
        border-top: 1px solid rgba(255, 255, 255, 0.18);
        border-left: 1px solid rgba(255, 255, 255, 0.18);
    }

    .contact-item {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .contct-info {
        display: flex;
        flex-direction: column;
    }
}