.main-content {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: rgb(143, 142, 140);
    border-radius: 0.8em;
    margin-top: 3em;
    margin-bottom: 2.5em;
    padding: 1.5em;
}