---
import "./MainContent.css";
import AboutMe from "./about-me/AboutMe.astro";
import MyServices from "./my-services/MyServices.astro";
import MySkills from "./my-skills/MySkills.astro";
import scrollIndicatorClientUrl from "../../js/scrollIndicator.client.js?url";
---

<section class="main-content">
    <AboutMe />
    <MyServices />
    <MySkills />
</section>

<script type="module" src={scrollIndicatorClientUrl}></script>
