---
import "./MainContent.css";
import AboutMe from "./about-me/AboutMe.astro";
import MyServices from "./my-services/MyServices.astro";
import MySkills from "./my-skills/MySkills.astro";
---

<section class="main-content">
    <AboutMe />
    <MyServices />
    <MySkills />
</section>

<script is:inline src="/js/scrollIndicator.client.js"></script>
