---
import './SocialInfo.css'
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro";
import Instagram from "../icons/Instagram.astro";
---

<section class="socials">
    <a
        href="https://github.com/dako-23"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub"
        class="social-icon"
    >
        <Github />
    </a>
    <a
        href="https://www.linkedin.com/in/yordan-grigorov-5265ba282/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn"
        class="social-icon"
    >
        <Linkedin />
    </a>
    <a
        href="https://www.instagram.com/yordangrigorov23/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Instagram"
        class="social-icon"
    >
        <Instagram />
    </a>
</section>
