.sidebar {
    justify-content: space-between;
    max-width: 320px;
    margin: 3em auto;
    flex-wrap: wrap;
    border: 1px solid;
    border-color: rgb(143, 142, 140);
    border-radius: 0.8em;

    padding: 2em;
    position: sticky;
    top: 2.5em;
    height: fit-content;

    .sidebar-image {
        height: 140px;
        width: 140px;
        background: url("/avatar.png") center/cover no-repeat;
        background-color: cadetblue;
        border-radius: 1em;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    .info-content {

        h2 {
            padding: 0.3em;
        }

        .role {
            padding: 0 1em;
            background-color: #726e6e;
            border-radius: 0.8em;
            font-size: 0.9em;
        }
    }
}