---
import "./Sidebar.css";
---

<aside id="sidebar" class="sidebar flex-col-center">
    <div class="sidebar-image"></div>
    <section class="info-content flex-col-center">
        <h2>Yordan Grigorov</h2>
        <p class="role">Software Developer</p>
    </section>
    <section class="more-info">
        <ul class="contact-list">
            <li class="contact-item">
                <div class="icon-box">✉</div>
                <div class="contact-info">
                    <p class="contact-title">EMAIL</p>
                    <a
                        href="mailto:iordan.megaparts@gmail.com"
                        class="contact-link">iordan.megaparts@gmail.com</a
                    >
                </div>
            </li>
            <li class="contact-item">
                <div class="icon-box">☎</div>
                <div class="contact-info">
                    <p class="contact-title">PHONE</p>
                    <a href="" class="contact-link">+359 878 333 402</a>
                </div>
            </li>
            <li class="contact-item">
                <div class="icon-box">📍</div>
                <div class="contact-info">
                    <p class="contact-title">LOCATION</p>
                    <a
                        href="https://maps.app.goo.gl/z9Y1fDUpVaT12Ubs8"
                        class="contact-link">Sofia, Bulgaria</a
                    >
                </div>
            </li>
        </ul>
    </section>
</aside>
