---
import "./Sidebar.css";
import MoreInfo from "./more-info/MoreInfo.astro";
import SocialInfo from "./social-info/SocialInfo.astro";
---

<aside id="sidebar" class="sidebar flex-col-center">
    <div class="sidebar-image"></div>
    <section class="info-content flex-col-center">
        <h2>Yordan Grigorov</h2>
        <p class="role">Software Developer</p>
    </section>
    <MoreInfo />
    <SocialInfo />
</aside>
